<!-- <div id="instructions">
  <video
    id="my_video_1"
    class="video-js vjs-default-skin"
    width="640px"
    height="267px"
    controls
    preload="none"
    poster="https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/6cad095d529e434c8cf46e571a3cb1b4?x-expires=1663200000&x-signature=EWkIaQUfoDjNxZ9k7zh8QF1JqtM%3D"
    data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
  >
    <source src="/src/assets/tiktok.mp4" type="video/mp4" />
  </video>
  <button (click)="playPause()">Play/Pause</button>
  <button (click)="makeBig()">Big</button>
  <button (click)="makeSmall()">Small</button>
  <button (click)="makeNormal()">Normal</button>
  <button (click)="restart()">Restart</button>
  <button (click)="skip(-10)">Rewind</button>
  <button (click)="skip(10)">Fastforward</button>
</div> -->

<div
  style="
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
  "
>
  <video controls loop id="my_video_1" #videoPlayer height="100%">
    <source src="../assets/tiktok.mp4" type="video/mp4" />
    Browser not supported
  </video>
  <div class="hello">
    <button (click)="playPause()">Play/Pause</button>
    <button (click)="restart()">Restart</button>
    <button (click)="skip(-3)">Rewind</button>
    <button (click)="skip(3)">Fastforward</button>
    <button (click)="fullScreen()">fullScreen</button>
  </div>
</div>
